services:
  app:
    build: ./app
    container_name: realtime_app
    command: npm run start:dev
    ports:
      - "3000:3000"
    volumes:
      - ./app:/usr/src/app
      - ./clients:/usr/src/clients
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: realtime_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
